<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MyTestSuit">
 <test name="TestCasesPractice">
 <groups>
 <run>
 <include name="smoke"></include>
<!-- <include name="regrassion"></include>-->
 </run>
 </groups>
  <classes>
   <class name="org.Eva.Vtiger.TestCases.LeadsModualTestCases"></class>
  </classes>   
     </test>
</suite>
